<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="true"/>
        <arg name="world_name" value="$(find leg_manipulator)/config/dart_world.world"/>
    </include>

    <param name="robot_description" textfile="$(find leg_manipulator)/urdf/go2_with_diy_leg.urdf"/>

    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model go2_with_diy_leg -z 0.8"
        output="screen"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

    <!-- Load controller config -->
    <rosparam file="$(find leg_manipulator)/config/joint_controllers.yaml" command="load"/>

    <!-- Spawn controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="
            joint_state_controller
            FL_hip_controller FL_thigh_controller FL_calf_controller
            FR_hip_controller FR_thigh_controller FR_calf_controller
            RL_hip_controller RL_thigh_controller RL_calf_controller
            RR_hip_controller RR_thigh_controller RR_calf_controller
        "/>

    <!-- Stand controller node -->
    <node name="stand_controller" pkg="leg_manipulator" type="stand_controller.py" output="screen">
        <param name="config_file" value="$(find leg_manipulator)/config/default_joint_angles.yaml"/>
    </node>
</launch>
